
body {
    font-family: sans-serif;
    background-color: rgb(198, 212, 225);
}

h1 {
    text-align: center;
    text-decoration: underline;
}

ul > li > a {
    text-decoration: none;
    color: green;
}

img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

p {
    font-weight: 600;
}

ol > li > p {
    font-weight: 500;
}

ul > li {
    margin: 5px;
}

